.container {
  margin: 0 auto;
  width: 768px;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #A9A9A9;
}

li {
  float: left;
  display: inline;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 6px 70px;
  text-decoration: none;

},

.content {
  padding: 0 auto;
  border: 0 auto;
}

header {
  background-color: black;
}

#logo {
  display: block;
  margin: 0 auto;
}
