.container {
  margin: 0 auto;
  width: 720px;
}

ul{
  list-style-type: none;
  margin: 0;
  padding:  0;
  overflow: hidden;
  background-color: #A9A9A9;
}

li{
  float: right;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding:  14px 16px;
  text-decoration: none;
}

/* Change the link color to #DAA520 (yellow) on hover */
li a:hover {
  background-color: #DAA520;
}

/*Add an "active" class to the current link to let the user know which page he/she is on*/
.active {
  background-color: #4CAF50;
}

header {
  background-color: black;
}

#logo {
  display: block;
  margin: 0 auto;
}

